#formie-sidebar {
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* at the bottom center */
.delete-all-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#formie-sidebar h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

#contentPrevious {
  overflow-y: auto;
  height: calc(100% - 140px);
  padding: 10px;
}

.search-bar-container {
  padding: 10px;
}

.search-bar-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#dataContainer div {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f9f9f9;
  position: relative;
}

.resize-handle {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: ew-resize;
}

.data-entry {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.data-entry h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.data-entry .copy-button {
  margin-top: 0; /* Adjust margin as needed */
}

.data-entry div {
  display: flex;
  align-items: center;
  border: none;
}

.data-entry p {
  text-align: left;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0;
  white-space: normal;
}

.data-entry .delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
